@font-face {
    font-family: "typewriter";
    src: url("assets/typewriter.ttf");
  }

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #080808;
    background-image: url("assets/pos.png");
    background-size: 63em;
    background-repeat: no-repeat;
    background-position-x: 49%;
}

h1, h2 {
    text-align: center;
}

table {
    font-size: 15px;
    font-family: 'typewriter';
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type=file]{
    display: none;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;

    /* display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main" */
}
.hearder{
    /* grid-area: header; */
    margin-left: auto;
    margin-right: auto ;
}

#file-upload-section{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto ;
    margin: 0 auto;
    text-align: center;
}

.main {
    margin-left: auto;
    margin-right: auto;
    margin-top:205px;
    width:300px;
    height: 0; 
    overflow: hidden; 
    transition: height 3s ease-out; 
    background-color: #fff; 
    background: linear-gradient(rgba(152,152,152,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 100%);
    padding: 12px;
    text-align: center;
    filter: drop-shadow(0 2px 1px rgba(#000, 0.1));
    --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/20px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
#map { 
    border-radius: 10px;
    height: 300px; 
    width: 80%; 
    margin: 0 auto;
}
